* {
    margin: 0rem;
    font-family: Arial;
    border: border-box;
}

html {
    font-size: 62.5%;
}

.navbar {
    height: 6rem;
    width: 100%;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

/*first box*/
.main-logo {
    height: 5rem;
    width: 10rem;
    padding: .1rem .8rem 0rem .6rem;
}

.logo {
    background-image: url("./project-images/amazon_logo.webp");
    margin-top: 1rem;
    height: 80%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.border {
    border: .2rem solid transparent;
}

.border:hover {
    border: .2rem solid white;
}

/*second box*/
.add-logo {
    display: flex;
}

.first-add {
    font-size: 1.2rem;
    color: #cccccc;
}

.sec-add {
    font-size: 1.4rem;
    font-weight: bolder;
}

.address {
    padding: .5rem;
}


/*third box*/

.nav-search {
    display: flex;

}

.nav-search:hover {
    border: .3rem solid rgb(238, 157, 26);
    border-radius: .4rem;
}

.search-icon {
    background-color: white;
    color: black;
}

.opt {
    height: 4rem;
    width: 5rem;
    background-color: #e6e6e6;
    border-top-left-radius: .4rem;
    border-bottom-left-radius: .4rem;
}

.search-bar {
    width: 65rem;
    height: 3.5rem;
    font-size: 1.4rem;
}

.search-icon {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: .4rem;
    border-bottom-right-radius: .4rem;
    background-color: rgb(209, 164, 90);
}

.flag {
    background-image: url("./project-images/usa-flag.png");
    height: 1.5rem;
    width: 1.5rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.country-sing {
    display: flex;
    padding: .7rem;
}

.language {
    background-color: #0f1111;
    color: white;
    font-weight: bolder;
    border: none;
}

span {
    font-size: 1.2rem;
    margin-left: .6rem;

}

.acc-detail {
    background-color: #0f1111;
    font-size: 1.4rem;
    font-weight: bolder;
    color: white;
    border: none;
    padding: .5rem;
}

.cart-logo {
    font-size: 2.5rem;
}

.nav-cart {
    display: flex;
    padding: .5rem;
}

.txt-cart {

    padding-top: .5rem;
    font-size: 1.4rem;
    font-weight: bolder;
    color: white;
}

.category-panel {
    background-color: #232f3f;
    color: white;
    height: 4rem;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
}

.first-panle-item {
    display: flex;
    padding: .8rem 1.6rem;
    font-weight: bolder;
}

.first-txt {
    padding-left: .5rem;
}

.second-panel-item p {
    display: inline;
    height: 4rem;
    width: 99rem;
    padding-right: 1.5rem;
}

.hero-class {
    background-image: url('./project-images/hero-image.jpg');
    height: 30rem;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-txt {

    background-color: #f5f6f6;
    color: #0f1111;
    height: 2rem;
    width: 95%;
    margin-top: .6rem;
    font-size: 1.4rem;
    padding: 1rem 1.4rem;
    text-align: center;

}

.hero-txt span {

    color: #007185;
    font-size: 1.4rem;
}

.container {
    height: 93rem;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgba(226, 239, 241, 0.954);
    padding: 1rem 1.4rem;
}

.box {
    height: 43rem;
    width: 23%;
    background-color: white;
    margin-top: 2rem;
    padding-left: 1.5rem;

}

.box-image {
    height: 33rem;
    width: 28rem;
    background-size: cover;
    background-repeat: no-repeat;
}

.heading {
    padding: 1rem;
    background-color: white;
    font-size: 2.1rem;
}

.suggestion {
    font-size: 1.4rem;
    color: #007185;
    margin-top: 2rem;
    /* padding-top: 2rem; */
}

.second-container {
    height: 30rem;
    width: 98%;
    background-color: rgba(226, 239, 241, 0.954);
    padding: 1rem 1.4rem;
    /* margin-top: 1em; */


}

.second-subcontainer {

    height: 28rem;
    width: 98%;
    background-color: white;
    margin-left: .7rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.second-heading {
    background-color: white;
    margin-left: .7rem;
    margin-right: 2rem;
    padding: 1rem 1rem 0rem;
    font-size: 2.1rem;

}

.box2 {

    height: 20rem;
    width: 17%;
    background-color: white;
    margin-left: 1rem;
    padding-left: .5rem;

}

.box2-image {
    height: 20rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
}

.container-third {
    height: 43rem;
    padding: 1rem 1.4rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: rgba(226, 239, 241, 0.954);
}

.box3 {

    height: 40rem;
    width: 23.5%;
    background-color: white;
    margin-top: 2rem;
    padding-left: .7rem;
    margin-left: .5rem;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;

}

.third-heading {
    margin: .5rem;
    width: 100%;
    font-size: 2.1rem;
}

.two-images {

    display: flex;
    height: 15rem;
    width: 29rem;
}

.box-image-next {

    height: 15rem;
    width: 29rem;
    margin: 0 .4rem 0;
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.box-image-next p {
    background-color: white;
    color: #0f1111;
    height: 2.5rem;
    width: 95%;
    font-size: 1.2rem;
    padding: 0 .4rem 0;

}

.second-panel {
    height: 10rem;
    text-align: center;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.second-panel p {
    font-size: 1.4rem;
}

.signin {
    padding-top: .5rem;
    text-align: center;
    height: 2.2rem;
    width: 23rem;
    font-size: 13px;
    background-color: rgb(236, 193, 93);
    border-radius: .4rem;
    border: .2rem solid rgb(212, 164, 21);
}

.new_cust {
    font-size: 1.2rem;
}

.new_cust span {
    color: #007185;
}

.third-panel {
    height: 3.5rem;
    background-color: #3d4c60;
    color: white;
    text-align: center;
    padding-top: 1rem;
    font-size: 1.4rem;

}

.main-footer {
    height: 35rem;
    background-color: #232f3f;
    color: white;
    display: flex;
    justify-content: center;

}

.info {
    padding: 2.5rem 2rem 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    padding-right: 4rem;
}

.info p {
    font-size: 1.4rem;
    font-weight: normal;
    color: #dddddd;
    padding: .6rem;
}

.sub-footer {
    height: 12rem;
    background-color: #232f3f;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
    color: #dddddd;
}

.footer-logo {
    text-align: center;
    padding-right: 5rem;
    height: 4rem;
    width: 8rem;
}

.lang {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: .5rem 1.7rem .5rem;
}

.down-arrow {
    text-align: center;
    padding-top: .5rem;
    padding-left: .5rem;
}

.currancy {
    font-size: 1.2rem;
    padding: .9rem 1.5rem .9rem;
}

.usa {
    font-size: 1.2rem;
    font-weight: lighter;
    padding: .8rem .6rem .8rem;
}

.outline {
    border: .1rem solid #a8a7a7;
    margin: .4rem;
    border-radius: .4rem;
}

.second-footer {
    height: 45rem;
    background-color: #101721;
    color: #999999;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.main-anchore {

    color: #dddddd;
    font-weight: 400;
}

.small-container {
    height: 3rem;
    width: 10rem;
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

.second-subfooter {
    display: flex;
    flex-direction: column;
}

.small-container a {
    text-decoration: none;
}

.small-container a:hover {
    text-decoration: underline;
}

.privacy-policy {

    padding-top: 2rem;
}

.privacy-policy a {
    text-decoration: none;
    color: #dddddd;
    font-weight: 400;
    padding: .6rem;
}

.privacy-policy p {
    text-align: center;
    color: #dddddd;
    font-weight: 400;
    padding-top: .4rem;
}

@media (max-width : 1280px) {
    html {
        font-size: 70%;
        width: 100%;

        .navbar {
            height: fit-content;
        }

        .hero-txt {
            font-size: 1rem;
            height: 3rem;
        }

        .search-bar {
            width: 40%;
        }

        .acc-detail{
            font-size: 1rem;
        }
        .hero-txt{
            height: fit-content;
        }

        .hero-txt span {
            font-size: 1rem;
        }

        .category-panel {
            height: fit-content;
            font-size: 1rem;
        }

        .container {
            height: fit-content;
            width: fit-content;
        }

        .box {
            height: fit-content;
            width: fit-content;
        }

        .box-image {
            height: 12rem;
            width: 12rem;
        }

        .heading {
            font-size: 100%;
        }

        .second-container {
            height: 100%;
            width: auto;
        }
       .second-subcontainer {
            height: 100%;
            width: 100%;
           flex-wrap: wrap;
        }
         .box2 {
             height: fit-content;
            width: fit-content;
        }

        .box2-image {
            height: 14rem;
            width: 8rem;
        } 
        .second-heading {
            font-size: 1.5rem;
            width: auto;
        }


        .container-third {
            height: auto;
            width: auto;
            flex-wrap: wrap;
        }

        .box3 {
            height: fit-content;
            width: fit-content;

        }

        .two-images {
            height: 100%;
            width: 100%;
            flex-wrap: wrap;
        }

        .box-image-next {
            height: 10rem;
            width: 8rem;
            background-size: contain;
        }

        .third-heading {
            width: auto;
            font-size: 100%;
        }
        .signin{
            width: 25%;
        }

        .second-panel{
            font-size: .7rem;
        }
        .sub-footer{
            height: auto;
            flex-wrap: wrap;
        }
        .main-footer{
            flex-wrap: wrap;
            height: auto;
        }

        .info {
            font-size: 1rem;
            padding: 1rem;
        }

        .info p {
            font-size: .8rem;
            padding: .1rem;
        }

        .footer-logo {
            position: absolute;
            display: none;
        }

        .second-footer {
            height: fit-content;
         
        }

        .small-container{
            width: 5rem;
            height: fit-content;
        }

    }
}